<div class="wrapper">
    <div class="sidebar">
        <h1>SPARKLING</h1>
        <ul>
            <li><a routerLink="./home"><i class="fa fa-home"></i>Home</a></li>
            <li><a routerLink="./bookings"><i class="fa fa-book"></i>Bookings <sup>{{totalBookings}}</sup></a></li>
            <li><a routerLink="./messages"><i class='fas fa-comments'></i>Messages <sup>{{total}}</sup></a></li>
            <li><a routerLink="./assessments"><i class='far fa-file'></i>Assessments</a></li>
            <li><a routerLink="./view-services"><i class="fa fa-cog"></i>View Services</a></li>
            <li><a routerLink="./addService"><i class="fa fa-tasks"></i>Add Service</a></li>
            <li><a style="cursor: pointer;" (click)="logout()"><i class="fa fa-sign-out"></i>Log Out</a></li>
        </ul>
    </div>
    <div class="main_content">
            <router-outlet></router-outlet>
    </div>
</div>