<form action="" [formGroup]="updateMessage" *ngIf="updateMessage">
    <h1>Change Status</h1>
    <div class="current">
        <label for="">Current Status</label>
        <input type="text" formControlName="currentStatus" readonly>
    </div>
    <div class="status">
        <label for="">Status Changes</label>
        <select formControlName="status" #STAT>
            <option>read</option>
        </select>
        <div class="error" *ngIf="status?.invalid">
            <small>Enter booking status</small>
        </div>
    </div>
    <div class="submit">
        <button mat-flat-button color="primary" (click)="submit({status: STAT.value.trim()})">Update</button>
    </div>
</form>

