<footer>
    <div class="container">

        <div class="about">
            <div class="head">
                <h1>ABOUT US</h1>
            </div>
            <div class="txt">
                <p>
                    Established in August 2022, Sparkling  wants to be an innovative cleaning company that helps businesses, homeowners and others attain a cleaner and safer environment. Sparkling focuses on providing the most effective services by using more environmentally friendly products, different from that of our competitors.
                </p>
            </div>
        </div>

        <div class="q-links">
            <div class="header"><h1>Quick Links</h1></div>
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/contactUs">Contact Us</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
                <ul>
                    <li><a href="#">Book Cleaning</a></li>
                </ul>
            </div>
        </div>

        <div class="social">
            <div class="header"><h1>Social</h1></div>
            <div class="nav">
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f" style="font-size:30px"></i></a></li>
                    <li><a href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter" style="font-size:30px"></i></a></li>
                    <li><a href="https://web.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" style="font-size:30px"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rights">
        <hr>
        <p>
            Copyright © 2022 All Rights Reserved by Sparkling.
        </p>
    </div>
</footer>
