<input type="search" placeholder="Search for assessment" [(ngModel)]="searchText">
<div class="container">
    <div class="notFound" *ngIf="searchText">
      <img style="width: 500px; margin-left:200px; height: 300px;width: 600px;" src="/assets/photos/noData.png">
    </div>
    <div class="cards" *ngFor="let assess of assessments  | filter:searchText ">
        <mat-card class="example-card">
            <mat-card-title>{{assess.name}}</mat-card-title>
            <mat-card-subtitle>{{assess._id}}</mat-card-subtitle>
            <mat-card-content>
               <label for="">Email:</label>
               <p>{{assess.email}}</p>
               <label for="">Address:</label>
               <p>{{assess.address}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button class="delete" mat-button (click)="delete(assess._id)">Delete</button>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>