<app-header></app-header>

<div class="container" *ngFor="let deals of services let i = index">
    <div class="commercial" *ngIf="i == 0">
        <div class="images">
            <div class="pic1">
                <img src="/assets/photos/servicePhotos/commercial1.jpeg">
                <div class="overlay"></div>
            </div>
            <div class="pic2">
                <img src="/assets/photos/servicePhotos/sanitize2.jpeg">
                <div class="overlay"></div>
            </div>
            <div class="pic3"><img src="/assets/photos/servicePhotos/commercial2.jpg"></div>
        </div>
        <div class="text">
            <h1>{{deals.name}}</h1>
            <p>{{deals.description}} </p>
            <p>${{deals.serviceCost}}/sq ft</p>
            <button (click)="moveToBooking(deals._id)">BOOK</button>
        </div>
    </div>
    <div class="detailing" *ngIf="i == 1">
        <div class="images">
            <div class="pic1">
                <img src="/assets/photos/servicePhotos/detailing2.webp">
                <div class="overlay"></div>
            </div>
            <div class="pic2">
                <img src="/assets/photos/servicePhotos/detailing1.jpeg">
                <div class="overlay"></div>
            </div>
            <div class="pic3"><img src="/assets/photos/servicePhotos/detailing3.jpg"></div>
        </div>
        <div class="text">
            <h1>{{deals.name}}</h1>
            <p>{{deals.description}}</p>
            <p>${{deals.serviceCost}}.00</p>
            <button (click)="moveToBooking(deals._id)">BOOK</button>
        </div>
    </div>
    <div class="residential" *ngIf="i == 2">
        <div class="images">
            <div class="box pic1">
                <img src="/assets/photos/servicePhotos/house1.jpeg">
                <div class="overlay"></div>
            </div>
            <div class="box pic2">
                <img src="/assets/photos/servicePhotos/house2.webp">
                <div class="overlay"></div>
            </div>
            <div class="box pic3"><img src="/assets/photos/servicePhotos/house4.jpg"></div>
        </div>
        <div class="text">
            <h1>{{deals.name}}</h1>
            <p>{{deals.description}} </p>
            <p>${{deals.serviceCost}}/sq ft</p>
            <button (click)="moveToBooking(deals._id)">BOOK</button>
        </div>
    </div>
    <div class="sanitize" *ngIf="i == 3">
            <div class="images">
                <div class="box pic1">
                    <img src="/assets/photos/servicePhotos/sanitizing1.jpg">
                    <div class="overlay"></div>
                </div>
                <div class="box pic2">
                    <img src="/assets/photos/servicePhotos/sanitizing1.jpg">
                    <div class="overlay"></div>
                </div>
                <div class="box pic3"><img src="/assets/photos/servicePhotos/sanitize2.jpeg"></div>
            </div>
            <div class="text">
                <h1>{{deals.name}}</h1>
                <p>{{deals.description}} </p>
                <p>${{deals.serviceCost}}/sq ft</p>
                <button (click)="moveToBooking(deals._id)">BOOK</button>
            </div>
        </div>
</div>

<app-footer></app-footer>

