<app-header></app-header>

<mat-stepper #stepper>
  <mat-step completed="false">
    <form [formGroup]="bookingForm" *ngIf="bookingForm">
      <ng-template matStepLabel>Booking</ng-template>
      <div class="content-wrapper">
        <div class="wrap1">
          <div class="name">
            <label for="">Fullname</label>
            <input type="text" placeholder="Fullname" formControlName="name" required >
            <div class="error" *ngIf="name?.invalid && name?.touched">
              <small>Please enter a name</small>
            </div>
           </div>
           <div class="email">
            <label>Email</label>
            <input type="email" placeholder="Email Address" formControlName="email" required>
            <div class="error" *ngIf="email?.invalid && email?.touched">
              <small>Please enter a valid email address</small>
            </div>
           </div>
        </div>
        <div class="wrap2">
          <div class="sq_ft" *ngIf="serviceSelected.name == 'Commercial Cleaning' || serviceSelected.name == 'Residential Cleaning' || serviceSelected.name == 'Sanitizing'">
            <label for="">Square Feet</label>
            <input type="number" placeholder="Size of Building" formControlName="squareFeet" (input)="onChange()" required>
          </div>
           <div class="service">
            <label for="">Service</label>
            <input type="text" formControlName="service" readonly>
            <div class="error" *ngIf="service?.invalid">
              <small>Please enter a service</small>
            </div>
           </div>
        </div>
         <div class="address">
          <label for="">Address</label>
          <textarea cols="30" rows="6" placeholder="Address" formControlName="address" required=""></textarea>
          <div class="error" *ngIf="address?.invalid && address?.touched">
            <small>Please enter a name</small>
          </div>
         </div>  
         <div #cost  class="charge" *ngIf="bookingForm?.valid">
          <label for=""> Total Cost: $</label>
          <input type="number" readonly formControlName="serviceCharge" required>
         </div>       
      </div>
      <div>
        <button mat-button matStepperNext [disabled]="bookingForm.invalid" color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [editable]="isEditable">
    <form [formGroup]="cardForm">
      <ng-template matStepLabel>Payment</ng-template>
      <div class="wrapper2">
        <div class="cardNum">
          <label for="">Card Number</label>
          <input type="text" placeholder="XXXX XXXX XXXX XXXX" formControlName="cardNumber">
        </div>
        <div class="expiry">
          <div class="month">
            <label for="">Month</label><br>
            <select name="MONTH" formControlName="monthExpire">
              <option>month</option>
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          <div class="year">
            <label for="Year">Year</label><br>
          <select name="YEAR" formControlName="yearExpire">
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
          </select>
          </div>
        </div>
        <div class="cvv">
          <div class="cvvNum">
            <label for="">CVV</label>
            <input type="number" placeholder="CVV" formControlName="cvv">
          </div>
          <div class="info">
            3 or 4 digit usually found on the signature strip
          </div>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious color="primary">Back</button>
        <button mat-button matStepperNext color="primary" [disabled]="cardForm.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p style="text-align: center;">You are now done.</p>
    <div style="text-align: center;">
      <button mat-button matStepperPrevious color="primary">Back</button>
      <button mat-button (click)="stepper.reset()" color="primary">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
<app-footer></app-footer>