<app-header></app-header>

<mat-tab-group mat-align-tabs="center" color="accent">
  <mat-tab label="Booking" >

    <form [formGroup]="bookingForm" *ngIf="bookingForm">
      <div class="content-wrapper">
        <div class="wrap1">
          <div class="name">
            <label for="">Fullname</label>
            <input type="text" placeholder="Fullname" formControlName="name" >
            <div class="error" *ngIf="name?.invalid && name?.touched">
              <small>Please enter a name</small>
            </div>
           </div>
           <div class="email">
            <label>Email</label>
            <input type="email" placeholder="Email Address" formControlName="email">
            <div class="error" *ngIf="email?.invalid && email?.touched">
              <small>Please enter a valid email address</small>
            </div>
           </div>
        </div>
        <div class="wrap2">
          <div class="sq_ft" *ngIf="serviceSelected.name == 'Commercial Cleaning' || serviceSelected.name == 'Residential Cleaning' || serviceSelected.name == 'Sanitizing'">
            <label for="">Square Feet:</label>
            <input type="number" placeholder="Size of Building" formControlName="squareFeet" ngModel="SQFT" #SQFT>
          </div>
          {{SQFT}}
           <div class="service">
            <label for="">Service</label>
            <input type="text" formControlName="service" readonly>
            <div class="error" *ngIf="service?.invalid">
              <small>Please enter a service</small>
            </div>
           </div>
        </div>
         <div class="address">
          <label for="">Address</label>
          <textarea cols="30" rows="6" placeholder="Address" formControlName="address"></textarea>
          <div class="error" *ngIf="address?.invalid && address?.touched">
            <small>Please enter a name</small>
          </div>
         </div>  
         <div #cost *ngIf="bookingForm?.valid">
             <input type="number" readonly formControlName="serviceCharge">
             <!-- <p>{{serviceCost}}</p> -->
         </div>       
         <div class="submit">
            <button>SUBMIT</button>
         </div>
      </div>
    </form>
  
  </mat-tab>
  <mat-tab label="Payment">Content 2</mat-tab>
</mat-tab-group>

<app-footer></app-footer>

