<div class="container" *ngFor="let deals of services">
        <mat-card class="example-card">
            <mat-card-title>{{deals.name}}</mat-card-title>
            <mat-card-subtitle>${{deals.serviceCost}}.00</mat-card-subtitle>
            <mat-card-content>
              <p>{{deals.description}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Edit</button>
              <button mat-button>Delete</button>
            </mat-card-actions>
          </mat-card>
</div>
