<div class="banner">
    <video  autoplay muted loop>
        <source src="/assets/video/pexels-tima-miroshnichenko-6195143.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="login">
        <form action="" [formGroup]="loginForm">
            <div class="container">
                <h1><a routerLink="/home">SPARKLING</a></h1>
                <div class="message" #message style="color: plum;">*THIS SECTION IS RESERVED FOR ADMIN</div>
                <div class="userNm">
                    <input type="text" placeholder="Username" formControlName="username" #userName>
                    <div class="error" *ngIf="username?.invalid && username?.touched">
                        <small>Enter a valid username</small>
                    </div>
                </div>
                <div class="password">
                    <input type="password" placeholder="Password" #Password [type]="visibility? 'text' : 'password'" formControlName="password">
                    <i *ngIf="!visibility && password?.dirty" class="fa fa-eye" (click)="view()" ></i>
                    <i *ngIf="visibility  && password?.dirty" class="fa fa-eye-slash" (click)="view()"></i>
                    <div class="error" *ngIf="password?.invalid && password?.touched">
                        <small>Enter a valid password</small>
                    </div>
                </div>
                <div class="btn">
                    <button [disabled]="loginForm.invalid" (click)="onSubmit({userName:userName.value.trim(), password : Password.value.trim()});
                        userName.value = '';
                        Password.value = '';
                        ">LOGIN</button>
                </div>
            </div>
        </form>
    </div>
    <div class="rights">Copyright © 2022 All Rights Reserved by Sparkling.</div>
</div>