
    <section class="assess" #assess>       
      <div class="overlay"></div>
      <div class="frm">
        <div class="txt">
            <h1>BOOK AN ASSESMENT</h1>
            <p>Want us to assess your property before cleaning?</p>
            <div class="message" #message></div>
          </div>
        <form [formGroup]="assessmentForm">
          <div class="content-wrapper">
            <div class="name">
              <label for="">Name:</label>
              <input type="text" placeholder="Fullname" formControlName="name" #NAME>
              <div class="error" *ngIf="name?.invalid && name?.touched">
                <small>Please enter a name</small>
              </div>
             </div>
             <div class="email">
              <label for="">Email:</label>
              <input type="email" placeholder="Email Address" formControlName="email" #EMAIL>
              <div class="error" *ngIf="email?.invalid && email?.touched" >
                <small>Please enter a valid email address</small>
              </div>
             </div>
             <div class="address">
              <label for="">Address:</label>
              <textarea cols="30" rows="6" placeholder="Address" formControlName="address" #ADDRESS></textarea>
              <div class="error" *ngIf="address?.invalid && address?.touched">
                <small>Please enter an address </small>
              </div>
             </div>
             <div class="submit">
                <button (click)="onSubmit({name : NAME.value.trim(),
                  email: EMAIL.value.trim(),
                  address: ADDRESS.value
                  });
                  NAME.value = '';
                  EMAIL.value = '';
                  ADDRESS.value = '';
                  ">SUBMIT</button>
             </div>
          </div>
        </form>
      </div>
    </section>
