<form action="" [formGroup]="addServiceForm">
    <div class="container">
        <h2>ADD SERVICE</h2>
        <div #message></div>
        <div class="serviceName">
            <label for="">Name of Service:</label>
            <input type="text" placeholder="Name" formControlName="sName" #name>
            <div class="error" *ngIf="sName?.invalid && sName?.touched" >
                <small>Enter name of service</small>
            </div>
        </div>
        <div class="serviceDets">
            <label for="">Description of Service:</label>
            <textarea cols="30" rows="10" formControlName="sDescription" #description></textarea>
            <div class="error" *ngIf="sDescription?.invalid && sDescription?.touched">
                <small>Enter description of service</small>
            </div>
        </div>
        <div class="serviceCost">
            <label for="">Cost of Service:</label>
            <input type="number" placeholder="Cost" formControlName="sCost" #serviceCost>
            <div class="error" *ngIf="sCost?.invalid && sCost?.touched">
                <small>Enter cost of service</small>
            </div>
        </div>
        <div class="btn">
            <button (click)="addService({name : name.value.trim(),
                description : description.value.trim(),
                serviceCost: serviceCost.value
                });
                name.value = '';
                description.value = '';
                serviceCost.value = '';
                ">SUBMIT</button>
        </div>
    </div>
</form>
